/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )
-----------------------------------------*/
:root {
  --white-color:                  #FFFFFF;
  --primary-color:                #cfb53b;
  --section-bg-color:             #F9F9F9;
  --dark-color:                   #000000;
  --title-color:                  #565758;
  --p-color:                      #717275;
  --border-color:                 #eaeaea;

  --body-font-family:             'Open Sans', sans-serif;

  --h1-font-size:                 3rem;
  --h2-font-size:                 2rem;
  --h3-font-size:                 1.5rem;
  --h4-font-size:                 1.3rem;
  --h5-font-size:                 1.2rem;
  --h6-font-size:                 1.1rem;
  --p-font-size:                  1rem;
  --menu-font-size:               1rem;

  --font-weight-light:            300;
  --font-weight-normal:           400;
  --font-weight-semibold:         600;
  --font-weight-bold:             700;
}

body {
    background: var(--white-color);
    font-family: var(--body-font-family);
    position: relative;
    padding-top: 94px;
}

/*---------------------------------------
  TYPOGRAPHY
-----------------------------------------*/

h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-color);
  line-height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-semibold);
}

h1,
h2 {
  font-weight: var(--font-weight-bold);
}

h1 {
  font-size: var(--h1-font-size);
  line-height: normal;
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

p {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
  letter-spacing: 0.5px;
}

a,
button {
  touch-action: manipulation;
  transition: all 0.3s;
}

a {
  color: var(--p-color);
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
}

.section-padding {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

/*---------------------------------------
  LIST GROUP
-----------------------------------------*/
.list-group-item {
  background-color: transparent;
  color: var(--p-color);
  font-size: var(--p-font-size);
  padding: 1rem 0;
}

.list-group-item:first-child {
  padding-top: 0;
}

.list-group-item span {
  font-weight: var(--font-weight-semibold);
  margin-left: auto;
}

/*---------------------------------------
  HERO
-----------------------------------------*/
.hero {
  padding-top: 0rem;
}

.hero .container {
  position: relative;
  overflow: hidden;
  height: 580px;
}

.heroText {
  background: var(--white-color);
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  padding: 3.5rem 2.5rem;
  width: 25%;
  min-width:280px;
}

.heroText h5 {
  color: var(--primary-color);
}

.contact-phone {
  font-weight: var(--font-weight-semibold);
}

/*---------------------------------------
  FEATURED
-----------------------------------------*/
.featured-circle {
  border-radius: 100%;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  padding: 0 20px;
}

.featured-text {
  font-size: var(--h6-font-size);
  line-height: 2rem;
  font-weight: var(--font-weight-bold);
  text-align: center;
  margin: 1rem;
}

.featured-number {
  color: var(--primary-color);
  font-size: 7rem;
  margin: 1rem;
}

/*---------------------------------------
  NAVIGATION
-----------------------------------------*/
.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-brand {
  color: var(--primary-color);
  font-size: var(--h3-font-size);
  font-weight: var(--font-weight-bold);
  line-height: var(--h2-font-size);
  margin: 0 30px;
  padding: 0;
  text-align: center;
}

.navbar-brand strong {
  color: var(--p-color);
  font-size: var(--h4-font-size);
  font-weight: var(--font-weight-semibold);
  position: relative;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.navbar-nav .nav-link {
  color: var(--p-color);
  font-weight: var(--font-weight-semibold);
  font-size: var(--menu-font-size);
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-nav .nav-item.active .nav-link, 
.nav-link:focus, 
.nav-link:hover {
  color: var(--dark-color);
}

.nav-link:focus {
  color: var(--p-color);
}

.navbar-toggler {
  border: 0;
  padding: 0;
  cursor: pointer;
  margin: 0;
  width: 30px;
  height: 35px;
  outline: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background: transparent;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease, -webkit-transform 300ms 350ms ease;
  top: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(-45deg);
}

.navbar-toggler .navbar-toggler-icon {
  background: var(--dark-color);
  transition: background 10ms 300ms ease;
  display: block;
  width: 30px;
  height: 2px;
  position: relative;
}

.navbar-toggler .navbar-toggler-icon:before,
.navbar-toggler .navbar-toggler-icon:after {
  transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease, -webkit-transform 300ms 50ms ease;
  position: absolute;
  right: 0;
  left: 0;
  background: var(--dark-color);
  width: 30px;
  height: 2px;
  content: '';
}

.navbar-toggler .navbar-toggler-icon:before {
  top: -8px;
}

.navbar-toggler .navbar-toggler-icon:after {
  top: 8px;
}

/*---------------------------------------
  GALLERY
-----------------------------------------*/
.row {
  padding: 1rem 0;
}

/*---------------------------------------
  REVIEWS
-----------------------------------------*/
.reviews-thumb {
  margin-bottom: 0;
  padding: 32px;
}

.reviews-text {
  margin-top: 10px;
  margin-bottom: 25px;
}

.reviews-image {
  border-radius: 100px;
  width: 70px !important;
  height: 70px !important;
}

.reviews-carousel .owl-item {
  opacity: 0.45;
}

.reviews-carousel .owl-item.active.center {
  opacity: 1;
}

.reviews-carousel .owl-item.active.center .reviews-thumb {
  background: var(--dark-color);
}

.reviews-carousel .owl-item.active.center .reviews-thumb,
.reviews-carousel .owl-item.active.center .reviews-text {
  color: var(--white-color);
}

.reviews-carousel .owl-nav {
  display: flex;
  justify-content: space-between;
  margin: auto;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.reviews-carousel .owl-nav span {
  width: 35px;
  height: 35px;
  line-height: 35px;
  display: block;
}

.reviews-carousel .owl-nav .owl-prev {
  position: relative;
  left: -80px;
}

.reviews-carousel .owl-nav .owl-next {
  position: relative;
  right: -80px;
}

.reviews-carousel .owl-prev span,
.reviews-carousel .owl-next span {
  color: transparent;
}

.reviews-carousel .owl-prev span::before,
.reviews-carousel .owl-next span::before {
  font-family: bootstrap-icons;
  display: block;
  font-size: var(--h3-font-size);
  color: var(--p-color);
  width: 35px;
  height: 35px;
}

.reviews-carousel .owl-prev span::before {
  content: "\f12f";
}

.reviews-carousel .owl-next span::before {
  content: "\f138";
}

/*---------------------------------------
  FOOTER
-----------------------------------------*/
.site-footer {
  background: var(--section-bg-color);
}

.map {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  width: 100%;
  min-height: 300px;
}

.copyright-footer {
  background: linear-gradient(var(--primary-color) -90%, var(--section-bg-color));
  margin-top: 5rem;
  padding: 1rem 0 1rem;
  text-align: center;
}

.copyright-text {
  font-size: .8rem;
  font-weight: var(--font-weight-semibold);
}

/*---------------------------------------
  RESPONSIVE STYLES
-----------------------------------------*/
@media screen and (min-width: 1600px) {
  .hero .container {
    height: 740px;
  }
}

@media screen and (max-width: 991px) {
  body {
    padding-top: 74px;
  }

  .section-padding {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .navbar {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .navbar-nav .nav-link {
    padding-top: 5px;
    padding-bottom: 10px;
  }

  .hero .container {
    height: inherit;
  }

  .heroText {
    position: relative;
    bottom: 100px;
    left: 0;
    width: auto;
    margin-bottom: -100px;
    padding: 2rem;
  }

  .featured-circle {
    width: 320px;
    height: 320px;
  }
}

@media screen and (max-width: 767px) {
  .heroText {
    padding: 1.5rem;
  }

  .animated-info {
    min-width: 125px;
  }

  .featured-circle {
    margin-top: 20px;
  }

  .reviews-carousel .owl-nav {
    position: relative;
    width: auto !important;
    transform: inherit;
    top: 0;
    bottom: 0;
    left: 0;
    max-width: 100px;
    margin: 20px auto;
  }

  .reviews-carousel .owl-nav .owl-prev,
  .reviews-carousel .owl-nav .owl-next {
    right: 0;
    left: 0;
  }
}

@media screen and (max-width: 530px) {
  .navbar-brand {
    font-size: 4.5vw !important;
    line-height: 6vw !important;
  }

  .navbar-brand > strong {
    font-size: 4vw !important;
  }
}

@media screen and (max-width: 480px) {
  .heroText {
    padding: 1rem;
  }

  .heroLinks .custom-link {
    font-size: 12px;
    line-height: 30px;
    margin-right: 12px !important;
    padding: 0 25px;
  }

  .contact-phone {
    font-size: 12px;
  }
}

@media screen and (max-width: 360px) {
  .featured-number {
    font-size: 5rem;
  }

  .featured-circle {
    width: 235px;
    height: 235px;
  }

  .reviews-image {
    width: 55px !important;
    height: 55px !important;
  }

  .reviews-thumb figcaption {
    font-size: var(--menu-font-size);
  }
}